* {
	margin: 0;
	padding: 0;
	font-size: 20px;
}
div {
	width: 600px;
	margin: 0 auto;
}
input {
	width: 400px;
	height: 30px;
	margin-left: 20px;
	border: 1px solid #a9a9a9;
	border-radius: 5px;
}
td {
	text-align: right;
}
#name-hint {
	padding-left: 20px;
	font-size: 15px;
	text-align: left;
}
#psw-hint {
	padding-left: 20px;
	font-size: 15px;
	text-align: left;
}
#con-hint {
	padding-left: 20px;
	font-size: 15px;
	text-align: left;
}
#email-hint {
	padding-left: 20px;
	font-size: 15px;
	text-align: left;
}
#phone-hint {
	padding-left: 20px;
	font-size: 15px;
	text-align: left;
}
#submit {
	position: relative;
	left: 448px;
	width: 60px;
	height: 30px;
	border-radius: 5px;
	border: solid 1px;
	color: #fff;
	background-color: #2f79ba;
}