* {
	margin: 0;
	padding: 0;
}
div {
	width: 500px;
	margin: auto;
}
#text {
	width: 300px;
	height: 30px;
	margin: 20px 10px 5px 20px;
	border-radius: 5px;
	border: solid 1px #a9a9a9;
}
#btn {
	width: 50px;
	height: 30px;
	border-radius: 5px;
	border: solid 1px;
	color: #fff;
	background-color: #2f79ba;
}
#hint {
	padding-left: 60px;
	color: #a9a9a9;
}